.uk-sticky-placeholder{
  .fullpage &{
    height: 0 !important;
  }
}
.section{
  padding-top: 50px;
  @include media-breakpoint-up('m'){
    padding-top: 93px;
  }
  &:last-child{
    >*{
      height: 100% !important;
      vertical-align: bottom;
    }
  }
}