.uk-sticky-placeholder{
  [class*='fp-viewing-'] &{
    height: 0 !important;
  }
}
.section{
  background-image: url("images/bg1.png");
  background-size: cover;
  background-position: center;
  //padding-top: 50px !important;
  @include media-breakpoint-up('m'){
    //padding-top: 93px !important;
  }
  >*{
    .uk-position-relative &{
      //vertical-align: inherit;
    }
  }
  &.thitruong{
    >*{
      //vertical-align: bottom;
    }
  }
  &:last-child{
    >*{
      height: 100% !important;
      vertical-align: bottom;
    }
  }
}
.about{
  &__containerExpandRight{
    @include media-breakpoint-up('m'){
      padding-right: 0;
      max-width: calc(50% + 40px + 40px + (1200px / 2) - 40px);
    }
  }
  &__thitruong{
    &__txt1{
      color: #000000;
      line-height: (16/14);
      @extend .fz-14;
      font-family: $font-Roboto-LightItalic;
      div{
        font-family: $font-Roboto-Bold;
      }
    }
    &__txt{
      color: #000000;
      line-height: (21/18);
      @extend .fz-18;
      span{
        color: #EC1C24;
        font-family: $font-Roboto-Bold;
        text-transform: uppercase;
      }
    }
  }
  &__trietly{
    &__txt{
      color: #000000;
      line-height: (35/30);
      @extend .fz-30;
      font-family: $font-Roboto-Bold;
    }
  }
  &__lido{
    &__grid{
      .uk-grid-margin{
        margin-top: 40px !important;
      }
    }
    &__item{
      >span{
        color: #A8A8A8;
        line-height: (75/64);
        @extend .fz-64;
        font-family: $font-Roboto-Black;
        position: absolute;
        top: -28px;
        right: 24px;
      }
      background: rgba(229, 229, 229, 0.6);
      padding: 15px 15px;
      padding: 55px 15px 25px 20px;
      @include media-breakpoint-up('m'){
        min-height: 163px;
      }
      position: relative;
    }
  }
  &__giatri{
    &__title{
      margin: 0;
      color: #000000;
      line-height: (28/24);
      font-family: $font-Roboto-Bold;
      @extend .fz-24;
      margin-bottom: 5px;
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 15px;
        @include media-breakpoint-up('m'){
          margin-top: 49px;
        }
      }
    }
  }
  &__thongtin{
    &__relative{
      position: relative;
      &:before{
        content: "";
        display: inline-block;
        width: 100px;
        height: 10px;
        @include media-breakpoint-up('m'){
          width: 300px;
          height: 30px;
          left: 51px;
        }
        background: #EC1C24;
        position: absolute;
        bottom: 0;
        left: 40px;
      }
    }
    &__box{
      >*{
        &:nth-child(n+2){
          margin-top: 15px;
          @include media-breakpoint-up('m'){
            margin-top: 25px;
          }
        }
      }
    }
    &__txt1{
      font-family: $font-Roboto-Bold;
      color: #000000;
      line-height: (20/17);
      @extend .fz-17;
    }
    &__txt2{
      line-height: (21/18);
      @extend .fz-18;
      color: #000000;
    }
    &__txt3{
      color: #EC1C24;
      line-height: (25/21);
      @extend .fz-21;
      font-family: $font-Roboto-Bold;
    }
  }
}