.bds{
  &__boloc{
    &__bg{
      background: rgba(0, 0, 0, 0.6);
    }
    &__title{
      color: #CDBF83;
      line-height: (21/18);
      @extend .fz-18;
      font-family: $font-Roboto-Bold;
    }

    &__input{
      color: #828282;
      @extend .fz-13;
      font-family: $font-Roboto-LightItalic;
      @include media-breakpoint-up('s'){
        min-width: 234px;
      }
    }
    &__btn{
      @extend .fz-13;
      font-family: $font-Roboto-Bold;
      background-color: #CDBF83;
      border-color: #CDBF83;
      text-transform: inherit;
      color: #FFFFFF;
      &:hover{
        background-color: #EC1C24;
        border-color: #EC1C24;
        color: #FFFFFF;
      }
    }
    &__select{
      @extend .fz-13;
      text-transform: inherit;
      color: #CDBF83;
      font-family: $font-Roboto-Medium;
      background-color: #fff;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  &__content{
    &__section{
      padding-top: 21px;
      padding-bottom: 80px;
    }
    &__title{
      font-family: $font-Roboto-Bold;
      color: #000000;
      line-height: (42/36);
      @extend .fz-36;
      margin: 0;
      text-transform: uppercase;
      &--margin{
        margin-bottom: 15px;
        @include media-breakpoint-up('m'){
          margin-bottom: 27px;
        }
      }
    }
    &__btnSearch{
      @extend .fz-13;
      font-family: $font-Roboto-Bold;
      color: #FFFFFF;
      background-color: #CDBF83;
      border-color: #CDBF83;
      border-radius: 5px;
      &:hover{
        background-color: #EC1C24;
        border-color: #EC1C24;
        color: #FFFFFF;
      }
    }
    &__selectbtn{
      padding-left: 10px;
      padding-right: 30px;
      color: #000000;
      @extend .fz-13;
      font-family: $font-Roboto-Bold;
      border-color: #CDBF83;
      border-radius: 5px;
      background-color: #f2f2f2;
    }
    &__box{
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 40px;
      @include media-breakpoint-up('m'){
        margin-bottom: 94px;
      }
      &--dc{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
      }
      &:before{
        @extend .bds__content__box--dc;
        background: #BDBDBD;
        width: 100%;
      }
      &:after{
        @extend .bds__content__box--dc;
        background: #CDBF83;
        width: 25%;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 80px;
      }
    }
    &__header{
      padding-top: 52px;
      margin-bottom: 27px;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 27%;
        height: 20px;
        background: #EC1C24;
      }
      &__title{
        @extend .bds__content__title;
      }
    }
    &__card{
      overflow: hidden;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      &__body{
        padding: 20px 20px;
      }
      &__tag{
        width: 100px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 14px;
        color: #FFFFFF;
        font-family: $font-Roboto-Bold;
        @extend .fz-13;
        background: #CDBF83;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      &__title{
        @extend .fz-18;
        line-height: (21/18);
        font-family: $font-Roboto-Bold;
        text-transform: uppercase;
        a{
          color: #CDBF83;
        }
      }
    }
  }
}