.duan{
  &__item{
    &:nth-child(n+2){
      margin-top: 40px;
      @include media-breakpoint-up('m'){
        margin-top: 80px;
      }
    }
  }
  &__content{

  }
  &__txtBrand{
    font-family: $font-CormorantInfant-Italic;
    color: #EC1C24;
    line-height: (44/36);
    @extend .fz-36;
  }
  &__overlay{
    @include media-breakpoint-up('m'){
      width: 66%;
    }
  }
  &__containerExpandLeft{
    @include media-breakpoint-up('m'){
      padding-left: 0;
      max-width: calc(50% + 40px + (1200px / 2) - 40px);
    }
  }
  &__thongtin{
    &__txt1{
      color: #000000;
      line-height: (21/18);
      @extend .fz-18;
      font-family: $font-Roboto-Medium;
      font-style: italic;
      margin-bottom: 30px;
      @include media-breakpoint-up('m'){
        margin-bottom: 50px;
      }
      span{
        color: #EC1C24;
      }
    }
    &__list{
      >li{
        &:before{
          top: -2px;
          background-size: 14%;
        }
        color: #000000;
        line-height: (21/18);
        @extend .fz-18;
      }
    }
  }
  &__chinhsach{
    &__txt{
      color: #CDBF83;
      line-height: (145/120);
      @extend .fz-120;
      font-family: $font-CormorantInfant-Bold;
      sup{
        line-height: (48/40);
        @extend .fz-40;
      }
    }
    &__desc{
      color: #000000;
      line-height: (21/18);
      @extend .fz-18;
      span{
        font-family: $font-Roboto-Bold;
      }
    }
    &__list{
      >li{

      }
      &__txt{
        color: #000000;
        line-height: (28/24);
        @extend .fz-24;
        font-family: $font-Roboto-Bold;
      }
    }
  }
}