.previlege{
  background-image: url("images/privileges.png");
  @include media-breakpoint-up('m'){
    background-image: none;
  }
  &__img{
    @include fluidx(122px,90px,height);
  }
  &__title{
    @extend .fz-64;
    line-height: (75/64);
    font-family: $font-Roboto-Black;
    color: #FFFFFF;
    >div{
      color: #EC1C24;
    }
  }
  &__desc{
    line-height: (25/21);
    color: #FFFFFF;
    @extend .fz-21;
    font-family: $font-Roboto;
  }
}